@model IEnumerable<Photos>
@{
    Layout = null;
} 
<html>
<head>
    <title>@ViewBag.bigTitle1.Title</title>
    <link rel="stylesheet" href="~/styles/bootstrap.css">
    <link rel="stylesheet" href="~/styles/vote.css" />
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <!--[if IE 6]>
    <link rel="stylesheet" href="~/styles/bootstrap-ie6.css" />
    <link rel="stylesheet" href="~/styles/ie.css"/>
    <!--[endif]-->
    <style>
        .sort tr:nth-child(2n) {
            display: none;
        }
        .sort tr:nth-child(2) {
            display: block;
        }

        div.thumbnail:hover {
            box-shadow: 0 0 8px #30E4E8;
        }

        strong {
            padding: 0 2px;
            color: #4D55A5;
        }

        h5 {
            color: #a5a5a5;
            font-size: 14px;
        }

        .col-md-2, .col-md-10, .col-md-12 {
            padding-right: 0;
        }

        .voteBox {
            position: relative;
        }

        .vote {
            position: absolute;
            bottom: 10px;
            right: 10px;
            border: 1px solid #4D55A5;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: #4D55A5;
        }

            .vote a {
                text-align: center;
                line-height: 30px;
                font-size: 12px;
                color: #fff;
            }

            .vote .voteCount {
                position: absolute;
                top: -20px;
                right: 0px;
            }
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <header class="row" id="header">
                    <div class="col-md-8">
                        <div class="title">
                            <h1>@ViewBag.bigTitle1.Title</h1>
                        </div>
                    </div>
                </header>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-action="Index" asp-controller="Home">@ViewBag.smallTitle1.Title</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a asp-controller="Page" asp-action="Handwriting">@ViewBag.smallTitle2.Title <span class="sr-only">(current)</span></a></li>
                        <li><a asp-controller="Page" asp-action="Photograph">@ViewBag.smallTitle3.Title</a></li>
                        <li><a asp-controller="Page" asp-action="Sketch">@ViewBag.smallTitle4.Title</a></li>
                        <li class="dropdown">
                            <a asp-controller="Page" asp-active="Active" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">其它活动 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">竞走</a></li>
                                <li><a href="#">跳舞</a></li>
                                <li><a href="#">游园</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form asp-action="Searching" asp-controller="Page" id="frmSearch" method="post" class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" name="key" placeholder="搜索作品/作者">
                        </div>
                        <input type="submit" class="btn btn-success" value="搜索" />
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">返回市民学习网</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-2 col-xs-3">
                TOP10
                <table class="table table-hover table-condensed sort">
                    @foreach (var x in Model)
                    {
                        <tr>
                            <th>@x.Id</th>
                            <th><a asp-controller="Page" asp-action="AuthorDetail" asp-route-id="@x.AuthorId">@x.Author.AuthorName</a></th>
                        </tr>
                        <tr>
                            <th>
                                <div>
                                    <img src="~/upload/@x.Path" width="100" height="100" />
                                    <p style="text-align:center;">《<em>@x.Title</em>》</p>
                                    <p style="text-align:center;"><em>@x.VoteNumber</em>票</p>
                                </div>
                            </th>
                        </tr>

                    }
                </table>
            </div>
            <div class="col-md-10 col-xs-9">
                <div class="container-fluid main">
                    @foreach (var x in Model)
                    {
                        <div class="col-md-3 col-xs-3">
                            <div class="thumbnail">
                                <a asp-controller="Page" asp-action="show" asp-route-id="@x.Id"><img src="~/upload/@x.Path" alt="@x.Title"></a>
                                <div class="caption voteBox">
                                    <h5><strong>@x.Id</strong>号</h5>
                                    <h5><strong><a asp-controller="Page" asp-action="AuthorDetail" asp-route-id="@x.AuthorId">@x.Author.AuthorName</a></strong>作</h5>
                                    <h5>《<strong>@x.Title</strong>》</h5>
                                    <div class="vote">
                                        <a href="javascript:void(0)" onclick="vote(@x.Id)">投票</a>
                                        <p class="voteCount">@x.VoteNumber</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                    @Html.MakePager("pager-item", "", "pager")
            </div>
        </div>
    </div>
    <footer class="footer">
        <center><p>版权所有 &copy; young <a asp-controller="Account" asp-action="Login">后台登录</a></p></center>
    </footer>
    <script src="~/scripts/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".sort tr:nth-child(odd)").mouseover(function () {
                $("tr:odd").css({ display: "none" });
                $(this).next().css({ display: "block" });

            });
        });
        function vote(id) {
            var jug = confirm("确认投这一票吗？");
            if (jug == true) {
                var url = "/Home/Voted";
                var params = { "id": id };
                $.post(url, params, function (data) {
                    if (data == "success") {
                        alert("投票成功");
                        window.location.href = "/Home/Index";
                    }
                    else {
                        alert("投票失败");
                    }
                });
            }
        }
    </script>
</body>
</html>