@model IEnumerable<WebTitle>
<style>

</style>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3>前台标题管理</h3>
            <table class="table" style="margin-top:-15px;">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>标题</th>
                        <th>类别</th>
                        <th>描述</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr id="table-tr-@x.Id">
                            <td>@x.Id</td>
                            <td>@x.Title</td>
                            <td>@x.type</td>
                            <td>@x.location</td>
                            @if (User.IsSignedIn())
                            {
                                <td>
                                    <a asp-action="EditWebTitle" asp-controller="Admin" asp-route-id="@x.Id">修改</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
