@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="container-fluid">
    <!--查到到作者列表-->
    <div class="row">
        <div class="col-md-12">
            <div>
                <h3>查找到的是作者有 @ViewBag.AuthorsCount 个</h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>作者</th>
                        <th>联系电话</th>
                        <th>Email</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Author x in ViewBag.Authors)
                    {
                        <tr>
                            <th>@x.Id</th>
                            <th>@x.AuthorName</th>
                            <th>@x.PhoneNumber</th>
                            <th>@x.Email</th>
                            <th>@x.Note</th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--查找到作品列表-->
    <div class="row">
        <div class="col-md-12">
            <div>
                <h3>查找到的是作品有 @ViewBag.PhotosCount 个</h3>
            </div>
            @foreach (var x in ViewBag.Photos)
            {
                <div class="col-md-3 col-xs-3">
                    <div class="thumbnail">
                        <a asp-controller="Page" asp-action="show" asp-route-id="@x.Id"><img src="~/upload/@x.Path" alt="@x.Title"></a>
                        <div class="caption voteBox">
                            <h5><strong>@x.Id</strong>号</h5>
                            <h5><strong>@x.Author.AuthorName</strong>作</h5>
                            <h5>《<strong>@x.Title</strong>》</h5>
                            <div class="vote">
                                <a href="/">投票</a>
                                <p class="voteCount">1243</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

