<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.bigTitle1.Title</title>
    <link rel="stylesheet" href="~/styles/bootstrap.css">
    <link rel="stylesheet" href="~/styles/bootstrap-lightbox.min.css" />
    <link rel="stylesheet" href="~/styles/vote.css" />
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/bootstrap-lightbox.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <header class="row" id="header">
                    <div class="col-md-8">
                        <div class="title">
                            <h1>@ViewBag.bigTitle1.Title</h1>
                        </div>
                    </div>
                </header>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-action="Index" asp-controller="Home">@ViewBag.smallTitle1.Title</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a asp-controller="Page" asp-action="Handwriting">@ViewBag.smallTitle2.Title <span class="sr-only">(current)</span></a></li>
                        <li><a asp-controller="Page" asp-action="Photograph">@ViewBag.smallTitle3.Title</a></li>
                        <li><a asp-controller="Page" asp-action="Sketch">@ViewBag.smallTitle4.Title</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">其它活动 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">竞走</a></li>
                                <li><a href="#">跳舞</a></li>
                                <li><a href="#">游园</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form asp-action="Searching" asp-controller="Page" id="frmSearch" method="post" class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" name="key" placeholder="搜索作品/作者">
                        </div>
                        <input type="submit" class="btn btn-success" value="搜索" />
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">返回市民学习网</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="footer">
        <center><p>版权所有 &copy; young <a asp-controller="Account" asp-action="Login">后台登录</a></p></center>
    </footer>
</body>
</html>
<script>
        $(document).ready(function () {
            $(".sort tr:nth-child(odd)").mouseover(function () {
                $("tr:odd").css({ display: "none" });
                $(this).next().css({ display: "block" });

            });
        });
</script>
