@model Photos
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    .sort tr:nth-child(2n) {
        display: none;
    }
    .sort tr:nth-child(2) {
            display: block;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active">作品详情</li>
        </ol>
    </div>
    <div class="col-lg-9">
        <div class="col-lg-12">
            <div class="text-center">
                <h3>@Model.Title</h3>
                <p>
                    <span>作者:</span><a href="#"><strong class="text-info">@Model.Author.AuthorName</strong></a>
                    <span>支持:</span><strong class="text-danger">123322</strong>
                </p>
                <hr />
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <ul class="thumbnails">
                    <li class="span2">
                        <a data-toggle="lightbox" href="#demoLightbox" class="thumbnail">
                            <img src="~/upload/@Model.Path" class="img-responsive" alt="可视化">
                        </a>
                    </li>
                </ul>
                <div id="demoLightbox" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-content'>
                        <img src="~/images/6.jpeg">
                        <div class="lightbox-caption"><p>Your caption here</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-10 col-lg-offset-1">
                <h3 class="text-center">作品描述</h3>
                <pre style="white-space: pre-wrap;word-wrap: break-word; font-size:15px;">@Model.Describe
                </pre>

            </div>
            <div class="col-lg-7 col-lg-offset-5">
                <a class="btn btn-large btn-primary btn-hover" href="#"><i class="glyphicon glyphicon-thumbs-up" style="font-size:40px;"></i> </a>
                <span><strong>1234</strong>人已投票</span>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-3 col-xs-3">
        推荐作品
        <table class="table table-hover table-condensed sort">
            @foreach (Photos x in ViewBag.Recommended)
            {
                <tr>
                    <th>@x.Id</th>
                    <th>@x.Author.AuthorName</th>
                </tr>
                        <tr>
                            <th>
                                <div>
                                    <a asp-action="show" asp-controller="Page" asp-route-id="@x.Id"><img src="~/upload/@x.Path" width="100" height="100" /></a>
                                    <p style="text-align:center;">《<em>@x.Title</em>》</p>
                                    <p style="text-align:center;"><em>65535</em>票</p>
                                </div>
                            </th>
                        </tr>

            }
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#myLightbox').lightbox(options);                                                                                                         7
        $(".sort tr:nth-child(odd)").mouseover(function () {
            $("tr:odd").css({ display: "none" });
            $(this).next().css({ display: "block" });

        });
     });
</script>
